<div class="row">
	<div class="large-2 columns text-right">
		<span class="label">Twitter</span>
	</div>
	<div class="large-8 columns">
		@{{data.user.screen_name}}: {{{urlMaker data.text}}}
	</div>
	<div class="large-2 columns">
		<a href="https://twitter.com/intent/retweet?tweet_id={{data.id_str}}">RT</a> 
		<a href="https://twitter.com/intent/tweet?in_reply_to={{data.id_str}}">Reply</a> 
		<a href="https://twitter.com/intent/favorite?tweet_id={{data.id_str}}">Fav</a>
	</div>
</div>